@font-face {
  font-family: 'Anek Bangla';
  src: url('gtpressura.woff');
}


@keyframes example {
  from {
    border-radius: 10px;
  }

  to {
    border-radius: 20px;
  }
}


s
/* General */

* {
  box-sizing: border-box;

}

html {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border: 0px;

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

}

body {
  position: relative;
  height: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  background: #cecece8e;
  font-family: "Anek Bangla", sans-serif;
  width: 90vw;

}

a {
  text-decoration: none;
  color: #56C7C4;
}

p {
  width: 35vw;
  margin: 0%;
}

.showall{
  display: flex;
  justify-content: center;
  background-color:#56C7C4;;
  text-decoration: none;
  backdrop-filter: blur(5px);
  font-size: 1.2em;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color:#56C7C4;;
  color: white;
  font-family: "Anek Bangla", sans-serif;
padding: 1vw;
padding-top: .5vw;
padding-bottom: .8vw;
  transition: .4s;
}

button {
  display: flex;
  justify-content: center;

  align-items: center;
  min-width: 2vw;
  min-height: 2vw;
  background-color: transparent;
  text-decoration: none;
  backdrop-filter: blur(5px);
  font-size: 1.2em;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #767676;
  color: #767676;
  font-family: "Anek Bangla", sans-serif;
  padding: 1vw;
padding-top: .5vw;
padding-bottom: .8vw;
  transition: .4s;
  animation-name: example;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  cursor: pointer;
}

button:hover {
  display: flex;
  justify-content: center;
  background-color: #767676;
  text-decoration: none;
  backdrop-filter: blur(5px);
  font-size: 1.2em;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #767676;
  color: white;
  font-family: "Anek Bangla", sans-serif;
padding: 2vw;
padding-top: .5vw;
padding-bottom: .8vw;
  transition: .4s;
}


.active {
  display: flex;
  justify-content: center;
  background-color: #767676;
  text-decoration: none;
  backdrop-filter: blur(5px);
  font-size: 1.2em;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #767676;
  color: white;
  font-family: "Anek Bangla", sans-serif;
padding: 1vw;
padding-top: .5vw;
padding-bottom: .8vw;
  transition: .4s;

}

.active:hover {
  display: flex;
  justify-content: center;

  align-items: center;
  min-width: 2vw;
  min-height: 2vw;
  background-color: #3c3c3c;
  text-decoration: none;
  backdrop-filter: blur(5px);
  font-size: 1.2em;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #767676;
  color: #767676;
  font-family: "Anek Bangla", sans-serif;
  padding: 1vw;
padding-top: .5vw;
padding-bottom: .8vw;
  transition: .4s;
  animation-name: example;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  cursor: pointer;

}

img {
  max-width: 38vw;
  border-radius: 10px;
}

img:hover {
  opacity: 80%;
  border-radius: 10px;
  cursor: pointer;
}

/* Navigation */

.mailBox {
  /* margin-top: 1vw; */
  width: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #767676;
  font-family: "Anek Bangla", sans-serif;
}

.navBarContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  /* position: fixed; */

}

#navBar {
  display: flex;
  justify-content: center;
  column-gap: 2vw;
  row-gap: 2vw;
  flex-wrap: wrap;
  /* margin-top: 1vw; */
  position: fixed;
  width: 60vw;
  z-index: 200;
}


.backgroundTitle {
  hyphens: manual;
  width: 80vw;
  position: fixed;
  z-index: -200;
  color: #cccccc;
  opacity: 40%;
  font-size: 15em;
  rotate: -2deg;
  margin-top: 5vw;
  margin-left: 8vw;
  white-space: pre-wrap;
  font-family: "Anek Bangla", sans-serif;
  font-weight: 700;
  line-height: 0.8;
}



/* Json elements */
 

.hidden {
  display: none;
}

.projectUnit {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;
}

h1 {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #767676;
  color: #767676;
  backdrop-filter: blur(5px);
  width: 35vw;
  font-size: 1.5em;
  padding: 1.8vw;
  font-weight: 100;
  text-align: left;
  border-radius: 20px;
  transition: .4s;
  animation-name: example;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  cursor: pointer;
}


h1:hover {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #767676;
  color: #767676;
  backdrop-filter: blur(5px);
  width: 35vw;
  font-size: 1.5em;
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: left;
  border-radius: 20px;
  transition: .4s;
}


.projectTitle {
  color: #767676;
  margin-bottom: -30px;
  font-family: "Anek Bangla", sans-serif;
}

.projectImage {
  width: fit-content;

}


.infoContainer {
  flex-direction: column;
  justify-content: left;
  row-gap: -200px;
  width: 35vw;
  background-size: 100% 100%;
  border-radius: 20px;

  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0%;
  padding-bottom: 0%;
  color: #767676;
  text-align: left;
  white-space: pre-wrap;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
}





.imageContainer {
  display: flex;
  justify-content: center;
}


.outputContainer {
  position: relative;
  width: 90vw;
}



/* Json Output */


#output {
  margin-top: 20vw;
  display: flex;
  column-gap: 4vw;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
}



/* Social media links */


.mediaInfo {
  margin-top: 5vw;
  margin-left: -2vw;
  position: absolute;
  bottom: 0;
  display: flex;
  position: relative;
  justify-content: center;
  column-gap: 2vw;
}

.mediaIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -1vw;
}

.meContainer {
  position: relative;
}

#me {
  width: 20vw;
}

.copyRight {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5vw;
  color: #767676;
  font-family: "Anek Bangla", sans-serif;
}




/* At screen smaller than 600px */

@media only screen and (max-width: 600px) {

  p {
    width: 80vw;
  }

  img {
    max-width: 80vw;
    border-radius: 10px;
  }

  button {
    font-size: 1em;
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-width: 1px;
  }

  button:hover {
    font-size: 1em;
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-width: 1px;
  }

  .mailBox {
    width: 80vw;
    display: flex;
    justify-content: center;
    color: #767676;
    font-family: "Anek Bangla", sans-serif;
    margin-bottom: 6vh;
  }

  #navBar {
    width: 80vw;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

  }

  .backgroundTitle {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-top: 18vw;
    margin-left: 0px;
    font-size: 4em;
  }

  .outputContainer {
    display: flex;
    flex-direction: column;
  }

  .projectUnit {
    display: flex;
    flex-direction: column;
  }

  h1 {
    width: 80vw;
    font-size: 1.2em;
    margin-left: 0px;
  }

  h1:hover {
    width: 80vw;
    font-size: 1.2em;
    margin-left: 0px;
  }


  .templateContainer {
    width: 80vw;
    margin-left: 0px;
  }

  .infoContainer {
    width: 80vw;
  }

  .imageContainer {
    margin-left: 0vw;
  }

  .projectImage{
    width: 80vw;
  }

  .mediaInfo {
    margin-top: 20vw;
    margin-left: -10vw;
  }

  #me {
    width: 40vw;
  }

  .copyRight {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5vw;
    margin-left: -2.5vw;
    color: #767676;
    font-family: "Anek Bangla", sans-serif;
  }
}