
@font-face {
    font-family: 'AnekBangla';
    src: url('gtpressura.woff');
}
/* 
@keyframes animate {
    100% {
        font-size: 1em;
        font-variation-settings: 'wght' 400, 'slnt' 0;
        color: #767676;
    }

    100% {
        font-size: 2em;
        font-variation-settings: 'wght' 800, 'slnt' -24;
        color: #767676;
    }
} */
/* 
@keyframes example {
    from {
        border-radius: 10px;
    }

    to {
        border-radius: 20px;
    }
} */

:root {
    --font: AnekBangla
}

html,
body {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    background:  #cecece8e;
}



video{
    position: fixed;
    z-index: -100;
}

img{
    width: 100vw;
}


button {
    z-index: 500;
    min-width: 2vw;
    min-height: 2vw;
    background-color:transparent;
    text-decoration: none;
    backdrop-filter: blur(5px);
    font-size: 1.2em;
    border-radius: 2px;
    border-style: dashed;
    border-width: 1px;
    border-color:#767676;
    color: #767676;
    font-family: var(--font);
    margin-right: 2vw;
    margin-bottom: 2vw;
    padding: 1.2vw;
    padding-top: .5vw;
    padding-bottom: .8vw;
    transition: .4s;
    animation-duration: 60s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    cursor: pointer;
}

button:hover {
    z-index: 500;
      background-color: #767676;
    text-decoration: none;
    backdrop-filter: blur(5px);
    font-size: 1.2em;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #767676;
    color:white;
    font-family: var(--font);
    margin-right: 2vw;
    margin-bottom: 2vw;

    transition: .4s;
}

.box {
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    mix-blend-mode: difference;
    width: 40vw;
    height: 20vw;
    opacity: 100%;
    display: flex;
    align-items: center;
    font-family: var(--font);
    font-variation-settings: 'wght' 400, 'slnt' 0;
    font-size: 2.4em;
    color: #767676;
    line-break: auto;
    white-space: pre-wrap;
    padding-left: 5vw;
}

span {
    animation: animate 16s alternate infinite ease-in-out;
    animation-timing-function: linear;
}

.textContainer {
    border-radius: 5px;
    position: fixed;
 background: #c4c4c4;
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: left;

}

#homeButtons {
    z-index: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -4vw;

    font-family:'AnekBangla';
}


.copyRight {
    position: fixed;
    bottom: 2vw;
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 10vw;
    align-items: center;
    color: #767676;
    font-family: var(--font);
}



/* At screen smaller than 600px */


@media screen and (max-width: 600px) {
    html,
    body {
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 10vw;
        justify-content:center;
        align-items: center;
        margin: 0;
        padding: 0;
        background:  #cecece8e;
    }



    button {
        z-index: 500;
        font-size: 1em;
        padding: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        border-width: .5vw;
    }


    .box {
        position: absolute;
        width: 80vw;
        height: auto;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 20vw;

    }

    .textContainer{
        display: flex;
        align-items: center;
        margin-top: -5vw;
        height: 60vh;
    }

    .text {
        height: 40vw;
        display: flex;
        align-items: center;
        font-family: var(--font);
        font-variation-settings: 'wght' 400, 'slnt' 0;
        font-size: 4em;
        color: #767676;
       
    }

    #homeButtons {
        position: absolute;
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
        font-family: var(--font);

    }

    
}


#preloader{
    background: black;
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;

    
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --g: #ffffff00 calc(100% - 5px),#ffffff calc(100% - 3px) 93%,#0000;
  background: 
    radial-gradient(farthest-side at bottom,var(--g)) top                  /100% 50%,
    radial-gradient(farthest-side at top   ,var(--g)) bottom 18% right  0  /80%  40%,
    radial-gradient(farthest-side at bottom,var(--g)) left   50% top    30%/60%  30%,
    radial-gradient(farthest-side at top   ,var(--g)) right  34% bottom 37%/40%  20%,
    radial-gradient(farthest-side at bottom,var(--g)) left   52% top    43%/24%  12%;
  background-repeat: no-repeat;
  animation: l20 1s infinite linear;
}
@keyframes l20 {
  100% {transform: rotate(1turn)}
}