@font-face {
    font-family: 'AnekBangla';
    src: url('AnekBangla-VariableFont_wdth,wght.ttf');
}

@keyframes animate {
    0% {
        font-size: 1em;
        font-variation-settings: 'wght' 400, 'slnt' 0;
        color: #767676;
    }

    100% {
        font-size: 2em;
        font-variation-settings: 'wght' 800, 'slnt' -24;
        color: #767676;
    }
}

/* @keyframes example {
    from {
        border-radius: 10px;
    }

    to {
        border-radius: 20px;
    }
} */

:root {
    --font: AnekBangla
}

html,
body {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background:  #cecece8e;
}


video{
    position: fixed;
    z-index: -100;
}



button {
    z-index: 500;
    min-width: 2vw;
    min-height: 2vw;
    background-color: transparent;
    text-decoration: none;
    backdrop-filter: blur(5px);
    font-size: 1.44em;
    border-radius: 10px;
    border-style: solid;
    border-width: .3vw;
    border-color: #E4871E;
    color: #767676;
    font-family: "Anek Bangla", sans-serif;
    margin-right: 2vw;
    margin-bottom: 2vw;
    padding: 1vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    transition: .4s;
    /* animation-name: example; */
    animation-duration: 60s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    cursor: pointer;
}

button:hover {
    z-index: 500;
    background-color: #E4871E;
    text-decoration: none;
    backdrop-filter: blur(5px);
    font-size: 1.44em;
    border-radius: 10px;
    border-style: solid;
    border-width: .3vw;
    border-color: #E4871E;
    color: #767676;
    font-family: "Anek Bangla", sans-serif;
    margin-right: 2vw;
    margin-bottom: 2vw;
    padding: 1vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    transition: .4s;
}

.box {
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    mix-blend-mode: difference;
    height: 20vw;
    display: flex;
    align-items: center;
    font-family: var(--font);
    font-variation-settings: 'wght' 400, 'slnt' 0;
    font-size: 10em;
    color: #767676;
    line-break: auto;
    white-space: pre-wrap;
    margin: 0%;
}

span {
    animation: animate 16s alternate infinite ease-in-out;
    animation-timing-function: linear;
}

.textContainer {
    width: 80vw;
}

#homeButtons {
    z-index: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -2vw;
}


#m {
    animation-delay: 0s;
}

#a {
    animation-delay: 4s;
}

#r {
    animation-delay: 8s;
}

#k {
    animation-delay: 12s;
}

#e {
    animation-delay: 16s;
}

#r2 {
    animation-delay: 0s;
}

#g {
    animation-delay: 4s;
}

#r3 {
    animation-delay: 8s;
}

#a2 {
    animation-delay: 12s;
}

#p {
    animation-delay: 16s;
}

#h {
    animation-delay: 0s;
}

#i {
    animation-delay: 4s;
}

#c {
    animation-delay: 8s;
}

.copyRight {
    position: fixed;
    bottom: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #767676;
    font-family: "Anek Bangla", sans-serif;
}



/* At screen smaller than 600px */


@media screen and (max-width: 600px) {
    button {
        z-index: 500;
        font-size: 1em;
        padding: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        border-width: .5vw;
    }

    button:hover {
        z-index: 500;
        font-size: 1em;
        padding: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        border-width: .5vw;
    }

    .box {
        position: absolute;
        width: 80vw;
        height: auto;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 20vw;

    }

    .text {
        height: 40vw;
        display: flex;
        align-items: center;
        font-family: var(--font);
        font-variation-settings: 'wght' 200, 'slnt' 0;
        font-size: 3em;
        color: #767676;
        margin: 0%;
    }

    #homeButtons {
        z-index: 500;
        position: absolute;
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;

    }

    .copyRight {
        position: fixed;
        bottom: 2vw;
    }
}
